
.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 15px auto;

    max-width: 800px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

.blog-card:hover {
    transform: translateY(-6px);
    background-color: #42a3df;
    box-shadow: 0 0 10px #00eaff, 0 0 25px #00eaff, 0 0 40px #00eaff;
}

.blog-card img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

.blog-card h4 {
    margin: 10px 0;
    color: #17252a;
    font-size: 1.2rem;
}

.blog-card p {
    color: #333;
    font-size: 0.95rem;
    margin-bottom: 15px;
    line-height: 1.4;
}

.blog-card .btn-leerMas {
    background-color: #002f69;
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.blog-card .btn-leerMas:hover {
    background-color: aqua;
    color: #002f69;
    transform: translateY(-3px);
}
