.nosotros-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.nosotros-container h1 {
    color: #005F99;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.nosotros-container h2 {
    color: #005F99;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.nosotros-container p {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .nosotros-container {
        padding: 1.5rem;
        margin: 1rem;
    }

    .nosotros-container h1 {
        font-size: 2rem;
    }

    .nosotros-container h2 {
        font-size: 1.5rem;
    }

    .nosotros-container p {
        font-size: 1rem;
    }
}