* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

header {
    background-color: #005F99;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 1);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.navbar .carrito a {
    font-size: 1.5rem;
    color: wheat;
    text-decoration: none;
}

.logo img {
    width: 80px;
    height: auto;
    min-width: 60px;
    border-radius: 50%;
}

.carritoo {
    width: 80px;
    height: auto;
    min-width: 60px;
    transition: 2s;
    border-radius: 10;
}

.carritoo:hover {
    background-color: aliceblue;
    border-radius: 60px;
    transform: translateX(10px);
    transition: 1s;
}

.producto-container {
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-items: stretch;
}

.producto-container h1 {
    color: #005F99;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.producto {
    background-color: #fff;
    box-shadow: 0 8px 15px rgb(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: 3s;
}

.producto img {
    width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.producto:hover {
    transform: scale(1.05);
    background-color: rgb(27, 70, 140);
    border-radius: 20px;
    box-shadow:
        0 0 10px #00eaff,
        0 0 20px #00eaff,
        0 0 40px #00eaff;
    transition: 2s;
}

.producto .agregar {
    background-color: #1477c9;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.agregar:hover {
    background-color: #3f8ceb;
    transform: scaleY(-5px);
}

footer {
    background-color: #17252a;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
    width: 100%;
}

@media(max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}