

.registro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;

}

.registro-card{
    background-color: white;
    padding: 40px 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    max-width: 450px;
    width: 100%;




}


.registro-card h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #17252a;

}

.registro-card form{
    display: flex;
    flex-direction: column;
}

.registro-card label{
    margin-bottom: 10px;
    font: bold;
    color: #333;
    margin-top: 10px;
}


.registro-card input,.registro-card select{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 1rem;

}

.registro-card input:focus, .registro-card select:focus{
    outline: none;
    border-color: #3aafa9;
    box-shadow: 0 0 5px rgb(58, 175, 169, 0.5);

}


.btn-registrar{
    background-color:#2b7a78 ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;



}


.btn-registrar:hover{
    background-color: #3aafa9;
    transform: translateY(-6px);
    box-shadow: 0 8px  15px rgb(0, 0, 0,0.2);


}

.mensaje-error{
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}
