.molecula-formulario {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

.form-subtitulo {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}